# .gitignore
# Ignore all .env files in backend
/backend/.env

# Ignore env files
.env
**/.env
.env.*
**/.env.*

# Node modules (frontend)
node_modules/

# Golang build artifacts
/backend/bin/
/backend/*.exe
/backend/*.out
/backend/*.test
